<!DOCTYPE html>
<html>



<head>
    <title>Summer Challenge</title>
    <link rel="stylesheet" href="/static/style.css">
</head>


<body>


<nav class="navbar">


    <a href="/challenges">
        <button class="button-30" role="button">
            Challenges
        </button>
    </a>


    <a href="/leaderboard">
        <button class="button-30" role="button">
            Leaderboard
        </button>
    </a>





</nav>




<main id="content">


</main>




<script type="module" src="/static/script.js"></script>


</body>

</html>