<!DOCTYPE html>
<html>
<script type="module">



</script>
<head>
    <title>Silly Summer Thing🤑</title>
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

    <main class="container">
    <h1 class="rainbow-text">Touch grass and get points lol</h1>
        <form action="/submit_name" method="POST">
        <input name="username" type="text" placeholder="Enter your name">
        <button type="submit">Submit</button>
    </form>

    <h3 class="subtitle-text">Make sure you use the same name every time you enter and if you have common name maybe do sth more unique, point is you have to use the same each time or its gonna be a headache for me</h3>

    <h3 class="subtitle-text">I half vibe coded this so dont blame me if the db is corrupted lol im too lazy to do it properly heh. Ts is manual approval so it will take 10s-10hr depending on whether im asleep or sth.</h3>
    <h3 class="subtitle-text">Winner gets 1 cent and strawberry dutch lady</h3>


    
  
</main>




<script type="module" src="/static/script.js"></script>


</body>
</html>